#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: var(--nav-scroll-height);
    height: 100%;
    width: 100%;
}

#container {
    max-width: none;
}