@import '@styles/mixins';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;

    h1 {
        color: var(--secondary-20);
    }

    h2 {
        margin-bottom: 20px;
    }

    p {
        color: var(--green);
        font-size: var(--fz-3xl);
        margin: 0;
    }
}

.reveal {
    composes: reveal from global;
}