@font-face {
    font-family: 'Andada Pro';
    src: url('/fonts/AndadaPro.ttf') format('truetype');
    font-weight: 400 840;
    font-style: normal;
}

@font-face {
    font-family: 'Andada Pro';
    src: url('/fonts/AndadaPro-Italic.ttf') format('truetype');
    font-weight: 400 840;
    font-style: italic;
}

@font-face {
    font-family: 'Cabin';
    src: url('/fonts/Cabin.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('/fonts/Cabin-Italic.ttf') format('truetype');
    font-weight: 400 700;
    font-style: italic;
}

@font-face {
    font-family: 'Spline Sans Mono';
    src: url('/fonts/SplineSansMono.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
}

@font-face {
    font-family: 'Spline Sans Mono';
    src: url('/fonts/SplineSansMono-Italic.ttf') format('truetype');
    font-weight: 300 700;
    font-style: italic;
}
