@import 'mixins';
@import 'variables';

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body,
#__next {
    height: 100%;
}

html {
    scroll-behavior: smooth !important;

    &.normal-scroll {
        scroll-behavior: auto !important;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: var(--primary-10);
    color: var(--secondary-20);
    font-family: var(--font-serif);
    font-size: var(--fz-xl);
    line-height: 1.3;
    overflow-x: hidden;

    @media (max-width: 480px) {
        font-size: var(--fz-lg);
    }

    &.blur {
        overflow: hidden;

        #content > *,
        footer {
            filter: blur(5px) brightness(0.7);
            transition: var(--transition);
            pointer-events: none;
            user-select: none;
        }
    }
}

.skip-to-content {
    @include button;
    position: absolute;
    top: auto;
    left: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -99;

    &:focus,
    &:active {
        background-color: var(--green);
        color: var(--primary-10);
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        overflow: auto;
        z-index: 99;
    }
}

#logo {
    color: var(--green);
}

#content {
    min-height: 100vh;
    padding: 0 150px;
    @media (max-width: 1080px) {
        padding: 0 100px;
    }
    @media (max-width: 768px) {
        padding: 0 50px;
    }
    @media (max-width: 480px) {
        padding: 0 25px;
    }
}

main {
    max-width: 1000px;
    margin: 0 auto;

    &.pad-top {
        padding-top: 150px;
    }
}

section {
    padding: 100px 0;

    @media (max-width: 768px) {
        padding: 80px 0;
    }

    @media (max-width: 480px) {
        padding: 60px 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
    font-family: var(--font-sans);
    font-weight: 600;
    color: var(--secondary-30);
}

.big-heading {
    font-size: clamp(40px, 8vw, 80px);
}

.medium-heading {
    font-size: clamp(25px, 5vw, 50px);
}

.small-heading {
    font-size: clamp(15px, 3vw, 30px);
}

.section-heading {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0 40px;
    font-size: var(--fz-heading);
    white-space: nowrap;

    &::after {
        content: '';
        display: block;
        position: relative;
        width: 100%;
        height: 1px;
        margin-left: 20px;
        background-color: var(--secondary-20);
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: var(--green);

    .arrow {
        display: block;
        margin-right: 10px;
    }

    a {
        @include inline-link;
        font-family: var(--font-sans);
        font-size: var(--fz-md);
        font-weight: 600;
    }
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

[data-theme='dark'] {
    img.dark-invert {
        filter: invert(100%);
    }

    .no-filter img {
        filter: initial;
    }
}

svg {
    fill: currentColor;
    vertical-align: middle;
}

.theme-toggle:hover {
    color: var(--green);

    svg {
        transition: var(--transition);
    }
}

a {
    display: inline-block;
    text-decoration: none;
    overflow-wrap: break-word;
    color: inherit;
    transition: var(--transition);

    &.inline-link {
        @include inline-link;
    }

    &:hover,
    &:focus {
        color: var(--green);
    }
}

p {
    margin: 0 0 15px 0;

    & > a {
        @include inline-link;
    }

    & > code {
        background-color: var(--primary-20);
        color: var(--secondary-30);
        font-size: var(--fz-sm);
        border-radius: var(--border-radius);
        padding: 0.3em 0.5em;
    }
}

ul {
    &.fancy-list {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: var(--fz-lg);
        li {
            position: relative;
            padding-left: 30px;
            margin-bottom: 10px;
            &::before {
                content: '▹';
                position: absolute;
                left: 0;
                color: var(--green);
            }
        }
    }
}

blockquote {
    border-left-color: var(--green);
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 1.5rem;

    p {
        font-style: italic;
        font-size: var(--fz-xl);
    }
}

code {
    font-family: var(--font-mono);
    font-size: var(--fz-md);
}

hr {
    background-color: var(--secondary-20);
    height: 1px;
    border-width: 0px;
    margin: 1rem 0;
}

::selection {
    background-color: var(--primary-30);
    color: var(--secondary-30);
}

/* Provide basic, default focus styles.*/
:focus {
    outline: 2px dashed var(--green);
    outline-offset: 3px;
}

/*
    Remove default focus styles for mouse users ONLY if
    :focus-visible is supported on this platform.
*/
:focus:not(:focus-visible) {
    outline: none;
    outline-offset: 0px;
}

/*
    Optionally: If :focus-visible is supported on this
    platform, provide enhanced focus styles for keyboard
    focus.
*/
:focus-visible {
    outline: 2px dashed var(--green);
    outline-offset: 3px;
}

/* Scrollbar Styles */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-10) var(--primary-10);
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
::-webkit-scrollbar-track {
    background: var(--primary-10);
}
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-10);
    border: 3px solid var(--primary-10);
    border-radius: 10px;

    &:horizontal {
        background-color: var(--secondary-10);
    }
}
