@import '@styles/mixins';

.inner {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;

    @media (max-width: 768px) {
        display: block;
    }
}

.text {
    flex-basis: 60%;
}

.media {
    flex-grow: 2;

    .pic {
        @include box-shadow;
        position: relative;
        border-radius: var(--border-radius);
        max-width: 300px;

        @media (max-width: 768px) {
            margin: 0 auto 50px;
        }

        .img {
            border-radius: var(--border-radius);
            height: 100%;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 20px;
            left: 20px;
            border: 2px solid var(--green);
            border-radius: var(--border-radius);
            transition: var(--transition);
            z-index: -1;
        }
        &:hover,
        &:focus {
            &::before {
                top: 15px;
                left: 15px;
            }
        }
    }
}

.reveal {
    composes: reveal from global;
}