@import '@styles/mixins';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
}
.title {
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(100px, 25vw, 200px);
    line-height: 1;
}
.subtitle {
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 400;
}
.home-button {
    @include big-button;
    margin-top: 40px;
}

.reveal {
    composes: reveal from global;
}