@import '@styles/mixins';

.footer {
    padding: 15px;
    text-align: center;
}

.social-links {
    display: none;

    @media (max-width: 768px) {
        display: block;
        max-width: 180px;
        margin: 0 auto 10px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;

        a {
            padding: 10px;
        }
    }
}

.credit {
    font-size: var(--fz-sm);
    
    p {
        margin: 5px 0;
    }

    .version {
        font-family: var(--font-mono);
        font-size: var(--fz-md);
        margin-bottom: 10px;
    }

    .footnote {
        font-size: var(--fz-xxs);

        a {
            font-family: var(--font-mono);
        }
    }
}
