@import '@styles/mixins';

.footer {
    padding: 15px;
    text-align: center;
}

.social-links {
    display: none;

    @media (max-width: 768px) {
        display: block;
        max-width: 180px;
        margin: 0 auto 10px;
        color: var(--secondary-20);
    }

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;

        a {
            padding: 10px;
        }
    }
}

.credit {
    color: var(--secondary-20);
    font-size: var(--fz-sm);
    line-height: 1;
    
    p {
        margin: 10px 0;
    }

    .version {
        font-family: var(--font-mono);
    }

    .footnote {
        font-size: var(--fz-xxs);
    }
}
